.progress {
    height: 4px !important;
    background: #000 !important;
    border-radius: 10px !important;
  }
  
  .swiper-pagination-progressbar-fill {
    background: #fff !important;
    border-radius: 10px !important;
  }
  
  .swiper-button-prev, .swiper-button-next {
    color: #000 !important;
    transition: 0.3s;
  }

  .swiper-button-prev:hover{
    color: #fff !important;
  }
  .swiper-button-next:hover {
    color: #fff !important;
  }

  @media only screen and (max-width: 600px) {
    .swiper-button-prev, .swiper-button-next {
      display: none;
    }
  }
  
  .swiper-button-disabled {
    color: #fff !important;
    opacity: 100 !important;
  }